 .nav {
    background: #0c9e38;
    display: flex;
    justify-content: center;
    align-items: center;
    position:sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;   
    }

    .nav ul {
      list-style: none;
      margin: 7px;
      padding: 2px 2px;
      display: flex;
      flex-wrap: nowrap;
    }

    .nav a {
      color: white;
      text-decoration: none;
      background-color:#10c10a;
      border-radius: 2px;
      padding: 5px 5px;
      margin: 0px 12px;
      display: inline-block;
      font-weight: bold;
      font-family: Arial, Helvetica, sans-serif;
    }

    .nav a:hover {
      background: #15e0e0;
      transition-duration: 0.2s;
      border-radius: 4px;
    }