.header {
    background-color: white;
    padding: 20px 0;
    border: 1px solid rgba(0,0,0,0.05);
    margin-bottom: 10px;
}

.link {
    text-decoration: none;
    color: black;
}

.title-box, .alamat-box {
    position: relative;
}

/* 2 baris saja */
.clamped {
    display: -webkit-box;
    -webkit-line-clamp: 2;        /* Ini aman, tidak bikin warning */
    -webkit-box-orient: vertical;
    overflow: hidden;
    line-height: 1.4em;
}

/* Fade di bagian bawah */
.fadeTitle, .fadeAlamat {
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    height: 10px;
    pointer-events: none;
}

/* Tombol “baca selengkapnya” */
.toggleTitle, .toggleAlamat {
    display: inline-block;
    margin-top: 2px;
    color: #3b82f6;
    cursor: pointer;}

/* Mode full */
.expanded {
    display: block;               /* Hilangkan clamp */
}

.expanded + .fadeAlamat, .expanded + .fadeTitle {
    display: none;                /* Hilangkan fade */
}

.garis-tipis {
    border-bottom: 1px solid rgba(0,0,0,0.05);
}
.garis-tebal {
    border-bottom: 2px solid rgba(0,0,0,0.1);
}

.batalkan {
    border: 1px solid rgba(0,0,0,0.1);
    padding: 7px 18px;
    background-color: white;
}

.icon-wrapper {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 220px;
    height: 150px;
}

/* awan dasar */
.cloud {
    position: absolute;
    top: 35%;
    left: 50%;
    font-size: 100px;
    color: #dcdcdc;
    opacity: 0.85;
}

/* awan kiri */
.cloud.satu {
    transform: translate(-96%, -50%);
    z-index: 1;
}

/* awan tengah */
.cloud.dua {
    transform: translate(-50%, -60%);
    font-size: 120px;
    z-index: 0;
}

/* awan kanan */
.cloud.tiga {
    transform: translate(-1%, -50%);
    z-index: 1;
}

/* troli */
.fa-box-open{
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -70%);
    font-size: 50px;
    color: black;
    z-index: 3;
}

.text-troli {
    font-size: medium;
    font-weight: 740;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -150%);
    z-index: 5;
    color: black;
    white-space: nowrap;
    text-shadow: 2px 1px 5px white;
}
