:root {
    --primary: #4a6fa5;
    --secondary: #166088;
    --accent: #ff7e30;
    --light: #f8f9fa;
    --dark: #333;
    --gray: #6c757d;
    --border: #e0e0e0;
    --danger: #ef2e2e;
}

.products-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 10px;
    margin-bottom: 90px;
    cursor: pointer;
    align-items: stretch;
}

.product-card {
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
    transition: transform 0.3s, box-shadow 0.3s;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.product-card a {
    text-decoration: none;
}

.product-card:hover {
    transform: translateY(-2px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.product-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.product-info {
    padding: 20px;
}

.product-title {
    font-size: 10px;
    font-weight: 600;
    margin-bottom: 10px;
    color: var(--dark);
}

.product-price {
    font-size: 10px;
    font-weight: 700;
    color: var(--danger);
    margin-bottom: 10px;
}

.product-rating {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 3px;
}

.star {
    font-size: 10px;     /* ubah ukuran sesuka hati */
    color: gold;
}

.rating {
    font-size: 10px;
    color: var(--gray);
}

.review-count {
    color: var(--gray);
    font-size: 10px;
}

.nav-link {
    position: relative; /* WAJIB */
    text-decoration: none;
    color: #333;
}

.total-pesanan {
    background: var(--accent);
    color: white;

    font-size: 11px;
    font-weight: bold;

    min-width: 18px;
    height: 18px;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 50%;
}

.total-pesanan.pesanan{
    position: absolute;
    top: -4px;
    right: 0px;
}

.total-pesanan.keranjang {
    position: absolute;
    top: -4px;
    right: -10px;
}
