.products-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 10px;
    margin-bottom: 90px;
    cursor: pointer;
    align-items: stretch;
}

.product-card {
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
    transition: transform 0.3s, box-shadow 0.3s;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.product-card a {
    text-decoration: none;
}

.product-card:hover {
    transform: translateY(-2px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.product-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.product-info {
    padding: 20px;
}

.product-title {
    font-size: 10px;
    font-weight: 600;
    margin-bottom: 10px;
    color: var(--dark);
}

.product-price {
    font-size: 10px;
    font-weight: 700;
    color: var(--danger);
    margin-bottom: 10px;
}

.product-rating {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 3px;
}

.star {
    font-size: 10px;     /* ubah ukuran sesuka hati */
    color: gold;
}

.rating {
    font-size: 10px;
    color: var(--gray);
}

.review-count {
    color: var(--gray);
    font-size: 10px;
}

