.cek-item {
    transform: scale(1.2);
    cursor: pointer;
    border: solid 2px rgba(69, 154, 250, 0.9);
}

#detailBarangDiBeli > :last-child {
    margin-bottom: 80px;
}

/* === MODAL WRAPPER === */
.modul-input-jumlah {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.85);
    background: #fff;
    padding: 15px 10px;
    border-radius: 14px;
    width: 80%;
    box-shadow: 0 10px 25px rgba(0,0,0,0.15);
    z-index: 9999;
    opacity: 0;
    pointer-events: none;
    transition: 0.25s ease;
}

.modul-input-jumlah.active {
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1);
}

/* === HEADER === */
.header-jumlah {
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
    margin-bottom: 15px;
}

.back-icon {
    font-size: 18px;
}

/* === INPUT CONTAINER === */
.control-jumlah {
    width: 100%;
    display: flex;
    justify-content: center;
}

.modul-jumlah {
    width: 100%;
    text-align: center;
    padding: 8px 5px;
    font-size: 18px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

/* === BUTTON SIMPAN === */
.simpan-container {
    margin-top: 15px;
}

.btn-simpan {
    width: 100%;
    background: #007bff;
    border: none;
    padding: 12px;
    font-size: 16px;
    border-radius: 8px;
    color: white;
    cursor: pointer;
}

.overlay-modul {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.4); /* gelap lembut */
    z-index: 9998;
    opacity: 0;
    pointer-events: none;
    transition: 0.25s ease;
}

.overlay-modul.active {
    opacity: 1;
    pointer-events: auto;
}

.icon-wrapper {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 220px;
    height: 150px;
}

/* awan dasar */
.cloud {
    position: absolute;
    top: 35%;
    left: 50%;
    font-size: 100px;
    color: #dcdcdc;
    opacity: 0.85;
}

/* awan kiri */
.cloud.satu {
    transform: translate(-96%, -50%);
    z-index: 1;
}

/* awan tengah */
.cloud.dua {
    transform: translate(-50%, -60%);
    font-size: 120px;
    z-index: 0;
}

/* awan kanan */
.cloud.tiga {
    transform: translate(-1%, -50%);
    z-index: 1;
}

/* troli */
.cart {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -70%);
    font-size: 50px;
    color: black;
    z-index: 3;
}

.text-troli {
    font-size: medium;
    font-weight: 740;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -150%);
    z-index: 5;
    color: black;
    white-space: nowrap;
    text-shadow: 2px 1px 5px white;
}
