
.hijau-bg {
  background-color: rgba(2, 254, 2, 0.6);
  color: rgb(0, 0, 0);
  padding: 6px;
  border-radius: 6px;
}

.merah-bg {
  background-color: rgba(248, 12, 4, 0.6);
  color: rgb(0, 0, 0);
  padding: 6px;
  border-radius: 6px;
}

.my-bg {
  background: rgba(0, 0, 0, 0.12)
    url("https://i.pinimg.com/736x/57/fe/11/57fe11415164abe428dd55726fe1fb21.jpg")
    no-repeat center center/cover !important;
}

  .bayangan {
    background: linear-gradient(145deg, #f3f2f2, #d3d0d0) !important;
    color: rgb(0, 0, 0);
    font-size: 18px;
    padding: 15px 40px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    box-shadow: 0 4px #7e7c7c; /* bayangan bawah (efek tombol terangkat) */
    transition: all 0.15s ease-in-out;
  }

  .bayangan:active {
    box-shadow: 0 2px #7e7c7c !important; /* bayangan makin pendek saat ditekan */
    transform: translateY(4px); /* tombol turun sedikit */
  }

  .bayangan:hover {
    background: linear-gradient(145deg, #ffffff, #e5ebe5) !important;
  }